.DS_Store
# Python
__pycache__
*.egg-info
# Editor
.vscode
*.swp
super-linter.log
# neo4jefmtool
neo4jefmtool/target
!neo4jefmtool/target/neo4jefmtool-*.jar
# Other
build
debug
papier
cmd.sh
# Docs
docs/_build
